.Container {
  width: 80%;
  display: block;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .Container {
    flex-direction: column;
  }
}
