.Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 10px 30px;
}

.Logo {
  color: azure;
  text-decoration: none;
}

.Nav {
  display: flex;
}
.Item {
  font-size: 16px;
  margin-left: 25px;
  text-decoration: none;
  color: #c7c6c4;
}

.Item:hover {
  transform: scale(1.2);
  color: white;
}
